# access token issuance method
# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

# token expire at Jun 12 2023
@growing-com:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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