@import "./color.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-input:focus,
.ant-input:hover {
  border-color: var(--green200);
  box-shadow: 0 0 0 2px rgba(0, 255, 94, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
